* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url(../img/beautiful-grayscale-shot-of-snowy-rocky-mountains.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
   
}

.card2{
    border: 3px solid #000;
    width: 500px;
    color: #ffff;
}
